<div class="container"> 
    <mat-card>  
      <mat-toolbar>  
        <div id="titulo">  
          CRUD Angular   
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content>  
        <form [formGroup]="formJuego" (ngSubmit)="onSubmit(formJuego.value)">
          <div class="row">
            <div class="col s6 m6"><input formControlName="titulo" matTooltip="titulo" matInput placeholder="Titulo"></div>
            <div class="col s6 m6">
              <input matInput type="date" matTooltip="Fecha Lanzamiento" formControlName="fecha">
            </div>
          </div>
          <div class="row">
            <div class="col s6 m6"><input formControlName="compania" matTooltip="Compañia" matInput placeholder="Compañia"></div>
            <div class="col s6 m6"><input matInput matTooltip="genero" formControlName="genero" placeholder="Genero"></div>
          </div>
          <div class="row">
            <div class="col s12 m12">
                <div class="row">
                  <div class="col s6 m2"><button type="submit" mat-raised-button matTooltip="guarda el registro " [disabled]="!formJuego.valid" class="btn teal darken-3">Guardar</button></div>
                  <div class="col s6 m2"><button type="reset" mat-raised-button matTooltip="Limpia el formulario" (click)="resetForm()" class="btn red accent-3">Reset</button></div>
                </div>        
            </div>
          </div>
        </form>
        <h4>Juegos Disponibles</h4><hr>
        <table class="responsive-table">  
          <thead ngclass="">  
            <th>ID</th>  
            <th>Titulo</th>  
            <th>Fecha Lanzamiento</th>  
            <th>Genero</th>  
            <th>Compañia</th>  
            <th>Edit</th>  
            <th>Delete</th>  
          </thead>  
          <tbody>
              <tr *ngFor="let juego of allJuegos | async">  
                  <td>{{juego.id}}</td>  
                  <td>{{juego.titulo}}</td>  
                  <td>{{juego.fecha_lanzamiento | date}}</td>  
                  <td>{{juego.genero}}</td>  
                  <td>{{juego.compania}}</td>  
                  <td>  
                    <button type="button" class="btn deep-orange accent-4" matTooltip="Edita el registro" (click)="getById(juego.id)">Editar</button>  
                  </td>  
                  <td>  
                    <button type="button" class="btn red accent-4" matTooltip="Borra el registro" (click)="borrar(juego.id)">Borrar</button>  
                  </td>  
                </tr>  
          </tbody>
        </table>  
      </mat-card-content>  
    </mat-card>  
</div>