<div class="container"> 
    <mat-card>  
      <mat-toolbar>  
        <div id="titulo">  
          CRUD Angular   
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content>  
        <form [formGroup]="formJuego" (ngSubmit)="onSubmit(formJuego.value)">
          <div class="row">
            <div class="col s6 m6"><input formControlName="titulo" matTooltip="titulo" matInput placeholder="Titulo"></div>
            <div class="col s6 m6">
              <input matInput type="date" matTooltip="Fecha Lanzamiento" formControlName="fecha" placeholder="Ingrese fecha">
            </div>
          </div>
          <div class="row">
            <div class="col s6 m6"><input formControlName="compania" matTooltip="compania" matInput placeholder="compania"></div>
            <div class="col s6 m6"><input matInput matTooltip="genero" formControlName="genero" placeholder="Genero"></div>
          </div>
          <div class="row">
            <div class="col s12 m12">
                <button type="submit" mat-raised-button matTooltip="guarda el registro " [disabled]="!formJuego.valid" class="teal darken-3">Guardar</button>      
                <button type="reset" mat-raised-button matTooltip="Limpia el formulario" (click)="resetForm()" class="red accent-3">Reset</button>  
            </div>
          </div>
        </form>
        <h4>Juegos Disponibles</h4><hr>
        <table class="responsive-table">  
          <thead ngclass="">  
            <th class="tbl2">ID</th>  
            <th class="tbl2">Titulo</th>  
            <th class="tbl2">Fecha Lanzamiento</th>  
            <th class="tbl2">Genero</th>  
            <th class="tbl2">Compañia</th>  
            <th class="tbl2">Edit</th>  
            <th class="tbl2">Delete</th>  
          </thead>  
          <tbody>
              <tr *ngFor="let juego of allJuegos | async">  
                  <td class="tbl2">{{juego.id}}</td>  
                  <td class="tbl2">{{juego.titulo}}</td>  
                  <td class="tbl2">{{juego.fecha_lanzamiento | date}}</td>  
                  <td class="tbl2">{{juego.genero}}</td>  
                  <td class="tbl2">{{juego.compania}}</td>  
                  <td class="tbl2">  
                    <button type="button" class="btn deep-orange accent-4" matTooltip="Edita el registro" (click)="getById(juego.id)">Editar</button>  
                  </td>  
                  <td class="tbl2">  
                    <button type="button" class="btn red accent-4" matTooltip="Borra el registro" (click)="borrar(juego.id)">Borrar</button>  
                  </td>  
                </tr>  
          </tbody>
        </table>  
      </mat-card-content>  
    </mat-card>  
</div>