/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';  
body{
    background-color: grey;
}

mat-toolbar{
    background-color: black !important;
    color: white !important;
}

#titulo{
    margin-left: 40%;
}